; linux_server.service
[Unit]
Description=Python Server Report Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/server/app.py
Restart=always
RestartSec=5
WorkingDirectory=/opt/server
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=py-server-report

[Install]
WantedBy=multi-user.target
